RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^home?$ index.php
RewriteRule ^address?$ address.php
RewriteRule ^order-summary?$ order_summary.php
RewriteRule ^payment?$ payment.php
RewriteRule ^product-details/([^/]+)/?$ product_details.php?id=$1  [NC,L]